
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  width: 25%;
  background: pink;
}
h1, p1 {
  color: white;
  text-align: center;
}
h1:hover {
  color: black;
}
p1 {
  font-size: 10px;
  text-align: left;
}
p2 {
color: black;
font-size: 15px;
}
p3 {
  font-size: 25px;
  color: white;
  display:block;
  text-align: center;
}
p4 {
  font-size: 25px;
  color: white
  text-align: center;
}
p5 {
  font-size: 15px;
  color: black;
  width: 40%;
  text-align: center;
}
img {
  width: 40%;
  display: block;
  margin: 0 auto;
}